@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    border-style: solid;
    margin: 0;
  }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: chocolate;
    overflow: hidden;
    position: relative;
}

.container {
　position: absolute;
}


h2 {
    color: black;
    font-size: 9rem;
    text-align: center;

}

.block {/*creating green circle here */
   
    position: absolute;    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: chartreuse;
    box-shadow: 10px 10px 50px black;

}
